@page
@model IndexModel
@{
    ViewData["Title"] = "Domov";
}

<div class="text-center">
    <h1 class="display-4">Vítejte</h1>
    <p>V aplikaci <strong>TimeTracker</strong>. Začněte se zadáváním <a asp-area="Tracker" asp-page="Index">úkolů</a>.</p>
</div>
